<nav class="navbar">
    <h1 class="logo">FLC BEATS</h1>
    <ul class="web-nav">
        <li class="active"><a href="#">Inicio</a></li>
        <li><a href="#">Beats</a></li>
        <li><a href="#">Licensing</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href=""><span class="fa fa-shopping-cart"></span></a></li>
    </ul>
    <ul class="mobile-nav">
        <li><a href=""><i class="fa fa-bars"></i></a></li>
    </ul>
</nav>