<div id="content">
	<img class="main-image image-blur" src="/images/front_page_cover.jpg" width="100%" alt="">
	<div class="main-image-text">
		<h1>FLAVOURED CLASSICS</h1>
		<p>Texto de prueba</p>
	</div>
	
</div>